.MindhiveContainer {
  padding: 0 !important;
}

.MindhiveNavbar {
  height: 100px;
  width: 100%;
  position: absolute;
  right: 0;
}

.MindhiveJumbotron {
  background-color: #242424;
  background-image: url('../public/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 400px;
}

@media only screen and (min-width: 1400px) {
  
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (max-width: 767px) {
  /* phones */
  .MindhiveJumbotron {
    background-image: url('../public/mobile-banner.png');
  }
}